{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":14,"column":0},"end":{"row":14,"column":13},"action":"remove","lines":["Pillow==5.4.1"],"id":2},{"start":{"row":14,"column":0},"end":{"row":14,"column":13},"action":"insert","lines":["pillow==3.4.2"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":14,"column":13},"end":{"row":14,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1570780297064,"hash":"ba87d1c5ece8cf7f5e1973e034bd586d07ee42d4"}