{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":324,"scrollleft":0,"selection":{"start":{"row":25,"column":7},"end":{"row":25,"column":7},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":19,"state":"start","mode":"ace/mode/text"}},"timestamp":1567426499022,"hash":"d95ca52cffb16013b802b33365231aec20129428"}