{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-md-2 col-sm-3 text-center">
        <a class="story-img" href="#">
                <img src="{{MEDIA_URL}}{{ user.profile_image.url }}" class="img-circle">
            </a>
        <p><span class="boldtext">Author: {{ post.author }}</span> </p>
    </div>
    <div class="col-sm-10 col-md-9">

        <h3>{{ post.title }}</h3>
        <div class="row">
            <div class="col-xs-9">
                <p>{{ post.content }}</p>
                <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                <p><span class="boldtext">Views:</span> {{post.views}}</p>
                <p><span class="boldtext">Votes:</span> {{post.votes_total}}</p>
                <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                <p><span class="boldtext"> Image:</span></p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="thumbnail">
                            <a href="{{ MEDIA_URL }}{{ post.image }}">
                                <img src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.title }}" style="width:100%">
                            </a>
                        </div>
                    </div>
                </div>
                <a href="{% url 'get_posts' %}" class="btn btn-default">Back to the Craic Pipe</a>
                <a href="{% url 'edit_post' post.id %}" class="btn btn-default">Edit Post</a>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}
