{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-xs-6">
        <div class="panel-group">
            {% for product in products %}
            <div class="panel">
                <div class="panel-body">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <p>{{ product.price }}</p>
                    <img src="{{ product.image.url }}"></img>
                </div>
                <form method="post" action="{% url 'add_to_cart' product.id post.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required>
                        <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Add</button>
            </span>
                    </div>
                </form>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
