.alert{
    margin-top: 70px;
}

/* Macroscopic-level CSS */
.col-xs-12{
    margin-top: 75px;
}

.row{
    margin-left: 10px;
}

body {
    font-family: Arial;
}

a, a:hover {
    color: #223344;
    text-decoration: none;
}


/* navbar */

.navbar-header.masthead{
    margin-top: 5px;
}

.navbar-form input, .form-inline input {
    width: auto;
}

.navbar-right{
    margin-right: 15px;
    margin-top: 5px;
}

.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.icon-bar {
    background-color: #fff;
}

/* Search Bar */
#craic-search {
    margin-top: 15px;
}

/* Header Styling */

h1 {
    color: #555555;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 40px;
    line-height: 1;
    font-family: cursive;
}

/* Profile Image Styling */
.story-img{
    max-width: 100px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

