{% extends 'base.html' %} {% block page_title %}{{ user }}'s Profile{% endblock %} {% block page_heading %}{{ user }}'s Profile {% endblock %} 
{% load crispy_forms_tags %} {% block content %}

<div class="content-section">
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary"> {{ user.email }} </p>
      <p><span class="boldtext">Bio:</span>
        <p class="text-secondary"> {{ user.profile.bio }} </p>
        <p><img src="{{ user.profile.profile_image.url }}" alt='craic addict' class="rounded-circle account-img story-img"></p>
    </div>
  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ u_form|crispy }} 
      {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
  </form>
</div>

{% endblock %}
